<h2><%= @event.name %></h2>

<% if @event.check_status == true%>


<h4>Event Details</h4>

<ul>
  <%=@event.name%>
  <li><%=@event.details%></li>
  <li>Date:<%=@event.date%></li>
  <li>URL:  
    <a href='http://63f9cdcf.ngrok.com/events/call/<%=@event.url%>'>http://63f9cdcf.ngrok.com/events/call/<%=@event.url%></li>
</ul>

<%else%>
  <h3>You can only leave new messages for events that are occuring today!</h3>
<%end%>

<hr/>

<% @messages.each.with_index(1) do |message, index| %>

<h3><%=index%>) <a href="<%= message.recording_url %>">From: <%=message.from_phone%></h3>

<%end%>