<div class="container col-sm-3 col-md-3 col-lg-3 event-show">
  <div class="row">
    <div>
      <div class ="event-header"><%=@event.name %>
        <div class="event-header-details"><%=@event.details%></div>
        <div class="event-header-date" ><small><%=@event.date%></small><div>
      </div>
    </div>
    </div>

      <div> 
        <form class="form" action='/events/edit/<%=@event.url%>' method='get'>
          <button>Edit</button>
        </form>
      </div>

      <div> 
        <ul class="list-unstyled">
          <li class="event-details"></li>
          <li class="event-share">Share the link below with everyone you'd like to receive a message from:</li>
          <li class="event-link"><a href='http://63f9cdcf.ngrok.com/events/call/<%=@event.url%>'>http://63f9cdcf.ngrok.com/events/call/<%=@event.url%></li>
        </ul>
      </div>
    </div> 
  </div> 
</div> 
    
<div class="container">
  <div class="row">
    <% @messages.each.with_index(1) do |message, index| %>
      <h3><%=index%>) <a href="<%= message.recording_url %>">From: <%=message.from_phone%></h3>
    <%end%>
  </div> 
</div> 