<h2>The Event known as <%= @event.name %></h2>

<h4>Event Details</h4>

<ul>
  <%=@event.name%>
  <li><%=@event.details%></li>
  <li>Starts:<%=@event.start_time%></li>
  <li>Ends:<%=@event.end_time%></li>
  <li>URL:  http://localhost:3000/events/<%=@event.url%></li>
</ul>

<div><a href='/users/<%= session[:id]%>'>Home</a></div>
<div><a href='/logout'>Logout</a></div>
