<h2>The Event known as <%= @event.name %></h2>

<h4>Event Details</h4>

<ul>
  <%=@event.name%>
  <li><%=@event.details%></li>
  <li>Starts:<%=@event.start_time%></li>
  <li>Ends:<%=@event.end_time%></li>
  <li>URL:<%=@event.url%></li>
</ul>

<div><a href='/'>Home</a></div>
<div><a href='/logout'>Logout</a></div>
