<h2>The Event known as <%= @event.name %></h2>

<h4>Event Details</h4>

<ul>
  <li><%=@event.name%></li>
  <li><%=@event.details%></li>
  <li><%=@event.start_time%></li>
  <li><%=@event.end_time%></li>
  <li><%=@event.url%></li>
</ul>

<div><a href='/'>Home</a></div>
<div><a href='/logout'>Logout</a></div>
