<h2><%= @event.name %> <small><%=@event.date%></small></h2>

<% if @event.check_status == true%>


<ul class="list-unstyled">
  <li class="event-details"><%=@event.details%></li>
  <li>Share the link below with everyone you'd like to receive a message from:</li>
  <li class="event-details"><a href='http://63f9cdcf.ngrok.com/events/call/<%=@event.url%>'>http://63f9cdcf.ngrok.com/events/call/<%=@event.url%></li>
</ul>

<%else%>
  <h3>You can only leave new messages for events that are occuring today!</h3>
<%end%>

<hr/>

<% @messages.each.with_index(1) do |message, index| %>

<h3><%=index%>) <a href="<%= message.recording_url %>">From: <%=message.from_phone%></h3>

<%end%>