<h2>The Event known as <%= @event.name %></h2>

<h4>Event Details</h4>

<ul>
  <%=@event.name%>
  <li><%=@event.details%></li>
  <li>Date:<%=@event.date%></li>
  <li>URL:  <a href='http://localhost:3000/events/call/<%=@event.url%>'>http://localhost:3000/events/call/<%=@event.url%></li>
</ul>

<div><a href='/users/<%= session[:id]%>'>Back to My Events</a></div>
<div><a href='/logout'>Logout</a></div>
